{% extends "base.html" %} {% block title %}Privacy Policy{% endblock %} {% block content
%}
<br>

<div class="card text-white bg-primary mb-3" style="max-width: 90rem;">
  <div class="card-header">Your information belongs to you</div>
  <div class="card-body">
    <p class="card-text">We carefully analyze what types of information we need to provide our services,
        and we try to limit the information we collect to only what we really need.
        Where possible, we delete or anonymize this information when we no longer need it.
        When building and improving our products, our engineers work closely with our privacy and security teams to build with privacy in mind.
        In all of this work our guiding principle is that your information belongs to you,
        and we aim to only use your information to your benefit.</p>
  </div>
</div>

<div class="card text-white bg-success mb-3" style="max-width: 90rem;">
  <div class="card-header">We protect your information from others</div>
  <div class="card-body">
    <p class="card-text">If a third party requests your personal information,
        we will refuse to share it unless you give us permission or we are legally required.
        When we are legally required to share your personal information,
        we will tell you in advance, unless we are legally forbidden.</p>
  </div>
</div>

<div class="card text-white bg-danger mb-3" style="max-width: 90rem;">
  <div class="card-header">How we use “cookies” and other tracking technologies</div>
  <div class="card-body">
    <p class="card-text">We use cookies and similar tracking technologies on our website and when providing our services.
        For more information about how we use these technologies, including a list of other companies that place cookies on our sites,
        a list of cookies that we place when we power a merchant’s store,
        and an explanation of how you can opt out of certain types of cookies, please see our Cookie Policy.</p>
  </div>
</div>

{% endblock %}